<style>
    .card{
        color: black;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        
    }
    .row {
        --bs-gutter-x: auto;
    }
    .card::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    
    .table-responsive {
        overflow-x: unset;
    }
    #divider-text{
        font-size: 2.5rem;
        font-weight: bold;
    }
    #reportDate{
        font-size: 1.5rem;
        text-decoration: underline;
    }
    #reportLabel{
        font-size: 2.0rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #report{
        font-size: 1.4rem;
    }
    #reportborder{
        border: 2px solid black;
    }
    #note{
        font-size:1.3rem;
        color: blue;
    }
</style>

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">주간보고서 /</span> 주간업무일지</h4>
<div style="background-color: #ededfa; padding: 30;">

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <!-- <h5 class="card-header">일반회원관리</h5> -->
        <div class="table-responsive text-nowrap">
            <form id="userForm" name="userForm" action="" method="">
                <input type="hidden" id="weekReportId" name="weekReportId" value="" />
                <div class="mb-3 row">
                    <div class="card-body">
                        <div class="divider">
                            <div class="divider-text" id="divider-text"> 주간업무보고 </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-9" ></div>
                    <div class="col-md-2" id="reportDate">
                       날짜 : <%=result[0].reportDatefmt%>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-9" ></div>
                    <div class="col-md-2" id="reportDate">
                       작성자 : <%=result[0].adminNick%>
                    </div>
                </div>
                <div class="mb-3 row" id="reportborder">
                    <div class="col-md-12" id="reportLabel">&lt; 업무 내용 &gt;</div>
                    <div class="col-md-2"></div>
                    <ul class="col-md-8" id="report">
                        <%-result[0].report%>
                    </ul>
                </div>
                <div class="mb-3 row" id="reportborder">
                    <div class="col-md-12" id="reportLabel">&lt; 다음주 업무 계획 &gt;</div>
                    <div class="col-md-2"></div>
                    <ul class="col-md-8" id="report">
                        <%-result[0].nextPlan%>
                    </ul>
                </div>
                <div class="mb-3 row" id="reportborder">
                    <div class="col-md-12" id="reportLabel">&lt; 비고 &gt;</div>
                    <div class="col-md-2"></div>
                        <p class="col-md-8" id="note"><%=result[0].note%></p>
                </div>
            </form>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <div>
        <div class="demo-inline-spacing">
            <form>
                <button type="button" class="btn btn-primary" id="enrollAction"
                    onclick="location.href='/admin/weekReportUpdate?weekReportId=<%=result[0].weekReportId%>'">수정</button>
                <button type="button" class="btn btn-danger" id="delete_btn"
                    onclick="location.href='/admin/weekReportDelete?weekReportId=<%=result[0].weekReportId%>'"></button>삭제</button>
            </form>
        </div>

    </div>
</div>

<script>
</script>